FRONTEND_BASE_URL=https://parkingplus.es/aparcamiento

# Redsys TPV/Bizum
REDSYS_FUC=
REDSYS_TERMINAL=
REDSYS_CURRENCY=978
REDSYS_MERCHANT_KEY=
REDSYS_PAYMENT_URL=https://sis.redsys.es/sis/realizarPago
REDSYS_TEST_MAX_AMOUNT=5.00
